---
import HeroLayout from '../layouts/HeroLayout.astro';
import ImageCard from '../components/ImageCard.astro';
---

<HeroLayout title="Kathurumi">
	<main>
		<div class="w-full flex-justify-center">
			<ImageCard title="Matcha Kuh" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nostrum laudantium, exercitationem fuga nihil voluptatum itaque recusandae quod deserunt sequi ducimus perferendis praesentium explicabo vel ipsa nobis sit. Cupiditate saepe odit voluptatem obcaecati ab omnis quos. Voluptas tempora facilis ratione laborum repellendus sint illum inventore delectus dolore, odio, tempore molestiae." image="/images/matcha-kuh.png" url="/matcha-kuh"></ImageCard>
		</div>
	</main>
</HeroLayout>