---
import Layout from '../layouts/Layout.astro';
import Preview from '../components/Preview.astro';
---

<Layout title="Kathurumi - Tipps">
	<main>
		<h3 class="text-center text-3xl">Alle Tipps:</h3>
		<div class="flex flex-wrap gap-10 justify-center my-10">
		<Preview title="Farben wechseln" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nostrum laudantium, exercitationem fuga nihil voluptatum itaque recusandae quod deserunt sequi ducimus perferendis praesentium explicabo vel ipsa nobis sit. Cupiditate saepe odit voluptatem obcaecati ab omnis quos. Voluptas tempora facilis ratione laborum repellendus sint illum inventore delectus dolore, odio, tempore molestiae." image="/images/matcha-kuh.png" url="/tipps/farbe-wechseln"></Preview>
		<Preview title="Unsichtare Abnahmen häkeln" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nostrum laudantium, exercitationem fuga nihil voluptatum itaque recusandae quod deserunt sequi ducimus perferendis praesentium explicabo vel ipsa nobis sit. Cupiditate saepe odit voluptatem obcaecati ab omnis quos. Voluptas tempora facilis ratione laborum repellendus sint illum inventore delectus dolore, odio, tempore molestiae." image="/images/matcha-kuh.png" url="/tipps/unsichtabre-abnahme"></Preview>
		<Preview title="Häkelnadelstärke finden" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nostrum laudantium, exercitationem fuga nihil voluptatum itaque recusandae quod deserunt sequi ducimus perferendis praesentium explicabo vel ipsa nobis sit. Cupiditate saepe odit voluptatem obcaecati ab omnis quos. Voluptas tempora facilis ratione laborum repellendus sint illum inventore delectus dolore, odio, tempore molestiae." image="/images/matcha-kuh.png" url="/tipps/haekelnadelstaerke-finden"></Preview>
		</div>
	</main>
</Layout>