---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Kathurumi - Unsichtbare Abnahme">
	<div>
		<h1 class="text-3xl">Unsichtbare Abnahmen</h1>
		<div class="h-5"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, unde id architecto doloribus vel minus! Placeat voluptate temporibus voluptatum debitis vero necessitatibus iure blanditiis numquam. Ratione, laudantium iste! Mollitia delectus sequi aliquid, autem fugit deserunt a explicabo pariatur quam tempore voluptates recusandae repellat odit vero maxime cupiditate, nobis perspiciatis molestiae modi esse unde minus veniam quia? Reprehenderit necessitatibus quibusdam porro quaerat, ratione earum ipsa debitis ipsam maiores minima consequuntur illum quasi dicta iusto sed? Earum culpa, autem eum laudantium est nostrum a officia porro velit deserunt aliquam facere minus nisi aliquid? Molestias quibusdam reiciendis, iure labore ab sint error asperiores.</p>
	</div>
</Layout>
