---

---

<div class="w-screen py-4 shadow-lg flex fixed bg-white top-0 z-50">
  <div class="w-2/5 flex items-center justify-end max-sm:hidden">
    <a href="/anleitungen" class="mx-6">Anleitungen</a>
    <a href="/tipps" class="mx-6">Tipps</a>
  </div>
  <a href="/" class="max-sm:w-screen w-1/5 flex items-center justify-center">
    <img src="/images/logo-transparent.png" alt="LOGO" class="max-sm:w-12 max-sm:h-12 md:w-16 md:h-16">
  </a>
  <div class="w-2/5 flex items-center justify-start max-sm:hidden">
    <a href="/blog" class="mx-6">Blog</a>
    <a href="/about" class="mx-6">About</a>
  </div>
</div>
