---
import Glass from '../components/Glass.astro';
---

<div class="flex justify-center items-center w-screen h-96 bg-cover bg-[url('/images/hero.jpg')]">
    <Glass text="Ich gebs zu: Ich bin" highlight="Wollsüchtig"></Glass>
</div>
