---
interface Props {
	title: string;
    description: string;
    image: string;
    url: string
}

const { title, description, image, url } = Astro.props;
---

<a href={url} class="w-full md:h-96 rounded-3xl shadow-md p-5 flex flex-col md:flex-row justify-center md:justify-start items-center">
    <img src={image} alt="MATCHA KUH" class="w-full md:w-auto md:h-full rounded-2xl">
    <div class="mt-5 object-fill md:mt-0 md:ml-10 md:h-full">
        <h3 class="text-3xl md:line-clamp-1">{title}</h3>
        <br>
        <p class="md:line-clamp-[12]">{description}</p>
    </div>
</a>
