---
import Layout from '../../layouts/Layout.astro';
import Preview from '../../components/Preview.astro';
---

<Layout title="Kathurumi - Dackel">
	<div>
		<h1 class="text-3xl">Dackel</h1>
		<div class="h-5"></div>
		<Preview title="Dackel" description="ToDo: Beschreibung schreiben" image="/images/dackel.png" url="/anleitungen/dackel"></Preview>
		<div class="h-5"></div>
		<hr>
		<div class="h-5"></div>
		<div class="flex flex-wrap">
			<div class="max-sm:w-full md:w-1/2 md:pr-5">
				<h2 class="text-2xl">Materialien</h2>
				<div class="h-5"></div>
				<ul class="ml-5 list-disc">
					<li>
						Gründl King Cotton
						<ul class="ml-5 list-disc">
							<li>
								Schwarz (__g), Teddy (__g)
							</li>
						</ul>
					</li>
					<li>
						10mm braune Sicherheitsaugen
					</li>
					<li>
						Häkelnadel (4mm)
					</li>
					<li>
						Schere
					</li>
					<li>
						Nähnadel
					</li>
					<li>
						Füllwatte
					</li>
				</ul>
				<div class="h-5"></div>
			</div>
			<div class="max-sm:w-full md:w-1/2 md:pl-5">
				<h2 class="text-2xl">Abkürzungen</h2>
				<div class="h-5"></div>
				<ul class="ml-5 list-disc">
					<li>
						MR: magischer Ring
					</li>
					<li>
						Lm: Luftmasche
					</li>
					<li>
						Fm: Feste Masche
					</li>
					<li>
						zun: Zunahme
					</li>
					<li>
						abn: Abnahme
					</li>
					<li>
						Km: Kettmasche
					</li>
				</ul>
				<div class="h-5"></div>
			</div>
		</div>
		<p>Tipp: Arbeite anstelle einer "normalen" Abnahme eine unsichtbare Abnahme. Steche dafür mit der Häkelnadel in die vordere Lasche der ersten Masche und die vordere Lasche der zweiten Masche ein. Ziehe den Faden durch die zwei Schlaufen, die du gerade aufgesammelt hast, damit du zwei Schlaufen auf der Nadel hast. Zuletzt den Faden durch alle Schlaufen auf der Nadel ziehen, um die Abnahme zu vollenden.</p>
		<div class="h-5"></div>
		<p>Alle Bestandteile des Dackels werden in Runden gehäkelt. Verwende einen Maschenmarkierer oder ein kurzes Stück Garn in einer Kontrastfarbe um den Anfang jeder Runde zu markieren. </p>
		<div class="h-5"></div>
		<hr>
		<div class="h-5"></div>
		<h2 class="text-2xl">Anleitung</h2>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Kopf</h3>
			<div class="h-5"></div>
			<p>Bla</p>			
		</div>
	</div>
</Layout>
