---
import Layout from '../../layouts/Layout.astro';
import Preview from '../../components/Preview.astro';
---

<Layout title="Kathurumi - Matcha Kuh">
	<div>
		<h1 class="text-3xl">Matcha Kuh</h1>
		<div class="h-5"></div>
		<Preview title="Matcha Kuh" description="Muh! Diese Kuh ist nicht etwa grün, weil sie sich zu sehr im Gras gewälzt hat. Nein! Es ist eine Matcha-Kuh! Natürlich kannst du dieses süße Tierchen in jeder beliebigen Farbe häkeln. Bananengelb? Her damit! Himmelblau? Ich bitte darum! Zaubere deine eigene süße Kuh mit dieser super einfachen Anleitung." image="/images/matcha-kuh.png" url="/anleitungen/matcha-kuh"></Preview>
		<div class="h-5"></div>
		<hr>
		<div class="h-5"></div>
		<div class="flex flex-wrap">
			<div class="max-sm:w-full md:w-1/2 md:pr-5">
				<h2 class="text-2xl">Materialien</h2>
				<div class="h-5"></div>
				<ul class="ml-5 list-disc">
					<li>
						Gründl Eco Cotton
						<ul class="ml-5 list-disc">
							<li>
								Naturweiß (50g), Maigrün (15g), Pastell Rosa (3g), Pastell Schlamm (10g)
							</li>
						</ul>
					</li>
					<li>
						10mm Sicherheitsaugen
					</li>
					<li>
						Häkelnadel (2,5mm)
					</li>
					<li>
						Schere
					</li>
					<li>
						Nähnadel
					</li>
					<li>
						Füllwatte
					</li>
				</ul>
				<div class="h-5"></div>
			</div>
			<div class="max-sm:w-full md:w-1/2 md:pl-5">
				<h2 class="text-2xl">Abkürzungen</h2>
				<div class="h-5"></div>
				<ul class="ml-5 list-disc">
					<li>
						MR: magischer Ring
					</li>
					<li>
						Lm: Luftmasche
					</li>
					<li>
						Fm: Feste Masche
					</li>
					<li>
						zun: Zunahme
					</li>
					<li>
						abn: Abnahme
					</li>
					<li>
						Km: Kettmasche
					</li>
					<li>
						dLm: doppelte Luftmasche
					</li>
				</ul>
				<div class="h-5"></div>
			</div>
		</div>
		<p>Tipp: Arbeite anstelle einer "normalen" Abnahme eine unsichtbare Abnahme. Steche dafür mit der Häkelnadel in die vordere Lasche der ersten Masche und die vordere Lasche der zweiten Masche ein. Ziehe den Faden durch die zwei Schlaufen, die du gerade aufgesammelt hast, damit du zwei Schlaufen auf der Nadel hast. Zuletzt den Faden durch alle Schlaufen auf der Nadel ziehen, um die Abnahme zu vollenden.</p>
		<div class="h-5"></div>
		<p>Alle Bestandteile der Matcha Kuh werden in Runden gehäkelt. Verwende einen Maschenmarkierer oder ein kurzes Stück Garn in einer Kontrastfarbe um den Anfang jeder Runde zu markieren. </p>
		<div class="h-5"></div>
		<hr>
		<div class="h-5"></div>
		<h2 class="text-2xl">Anleitung</h2>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Kopf</h3>
			<div class="h-5"></div>
			<p>Arbeite den Kopf in der Farbe Naturweiß. Die markierten Maschen werden in der Farbe Maigrün gearbeitet.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: 6 zun (12)<br>
			Rnd 3: (Fm, zun) x 6 (18)<br>
			Rnd 4: (Fm, zun, Fm) x 6 (24)<br>
			Rnd 5: (3 Fm, zun) x 6 (30)<br>
			Rnd 6: (2 Fm, zun, 2 Fm) x 6 (36)<br>
			Rnd 7: (5 Fm, zun) x 6 (42)<br>
			Rnd 8: (3 Fm, zun, 3 Fm) x 4, 5 Fm, <span style="color: limegreen;">Fm, zun, Fm</span>, 5 Fm, zun, 3 Fm (48)<br>
			Rnd 9: (7 Fm, zun) x 4, Fm, <span style="color: limegreen;">Fm 6</span>, zun, 7 Fm, zun (54)<br>
			Rnd 10: (4 Fm, zun, 4 Fm) x 3, 3 Fm, <span style="color: limegreen;">5 Fm, zun, 2 Fm</span>, 6 Fm, zun, 4 Fm (60)<br>
			Rnd 11: 38 Fm, <span style="color: limegreen;">11 Fm</span>, 11 Fm (60)<br>
			Rnd 12: 36 Fm, <span style="color: limegreen;">13 Fm</span>, 11 Fm (60)<br>
			Rnd 13: 36 Fm, <span style="color: limegreen;">12 Fm</span>, 12 Fm (60)<br>
			Rnd 14: 20 Fm, <span style="color: limegreen;">2 Fm</span>, 15 Fm, <span style="color: limegreen;">11 Fm</span>, 12 Fm (60)<br>
			Rnd 15: 16 Fm, <span style="color: limegreen;">7 Fm</span>, 15 Fm, <span style="color: limegreen;">9 Fm</span>, 13 Fm (60)<br>
			Rnd 16: 15 Fm, <span style="color: limegreen;">9 Fm</span>, 16 Fm, <span style="color: limegreen;">5 Fm</span>, 15 Fm (60)<br>
			Rnd 17: 15 Fm, <span style="color: limegreen;">10 Fm</span>, 35 Fm (60)<br>
			Rnd 18: 15 Fm, <span style="color: limegreen;">11 Fm</span>, 34 Fm (60)<br>
			Rnd 19: 15 Fm, <span style="color: limegreen;">11 Fm</span>, 34 Fm (60)<br>
			Rnd 20: 16 Fm, <span style="color: limegreen;">10 Fm</span>, 34 Fm (60)<br>
			Rnd 21: 17 Fm, <span style="color: limegreen;">9 Fm</span>, 34 Fm (60)<br>
			Rnd 22: 4 Fm, abn, 8 Fm, abn, 2 Fm, <span style="color: limegreen;">6 Fm, abn</span>, (8 Fm, abn) x 3, 4 Fm (54)<br>
			Rnd 23: (7 Fm, abn) x 2, Fm, <span style="color: limegreen;">3 Fm</span>, 3 Fm, abn, (7 Fm, abn) x 3 (48)<br>
			Rnd 24: (3 Fm, abn, 3 Fm) x 6 (42)<br>
			Rnd 25: (5 Fm, abn) x 6 (36)<br>
			Rnd 26: (2 Fm, abn, 2 Fm) x 6 (30)<br>
			Rnd 27: (3 Fm, abn) x 6 (24)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 27 und beende die Häkelarbeit. Lasse dabei einen langen Faden für das spätere Vernähen übrig. Befestige die Sicherheitsaugen zwischen den Runden 16 und 17. Stopfe den Kopf mit Füllwatte.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Schnauze</h3>
			<div class="h-5"></div>
			<p>Arbeite die Schnauze in der Farbe Pastell Rosa.</p>
			<div class="h-5"></div>
			Lm 7, arbeite in die 2. Lm von der Nadel aus<br>
			Rnd 1: zun, 5 Fm, (arbeite nun auf der Rückseite der Lm-Kette weiter), zun, 5 Fm (14)<br>
			Rnd 2: 2 zun, 4 Fm, 3 zun, 4 Fm, zun (20)<br>
			Rnd 3: (Fm, zun) x 2, 4 Fm, (Fm, zun) x 3, 5 Fm, zun (26)<br>
			Rnd 4: (Fm, zun, Fm) x 2, 4 Fm, (Fm, zun, Fm) x 3, 5 Fm, zun, Fm (32)<br>
			Rnd 5 - 7: 32 Fm (32)<br>
			Rnd 8: (Fm, abn, Fm) x 2, 4 Fm, (Fm, abn, Fm) x 3, 5 Fm, abn, Fm (26)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 8 und beende die Häkelarbeit. Lasse dabei einen langen Faden für das spätere Vernähen übrig. Stopfe die Schnauze mit Füllwatte und nähe sie zwischen den Reihen 25 und 21 auf den Kopf.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Hörner</h3>
			<div class="h-5"></div>
			<p>Arbeite zwei Hörner in der Farbe Pastell Schlamm.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: 6 Fm (6)<br>
			Rnd 3: zun, 5 Fm (7)<br>
			Rnd 4: 7 Fm (7)<br>
			Rnd 5: zun, 6 Fm (8)<br>
			Rnd 6: 8 Fm (8)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 6 und beende die Häkelarbeit. Lasse dabei einen langen Faden für das spätere Vernähen übrig. Stopfe die Hörner mit Füllwatte und nähe sie zwischen den Reihen 5 und 7 auf den Kopf.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Ohren</h3>
			<div class="h-5"></div>
			<p>Arbeite zwei Ohren, davon eines in der Farbe Naturweiß und eines in der Farbe Maigrün.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: (Fm, zun) x 3 (9)<br>
			Rnd 3: 9 Fm (9)<br>
			Rnd 4: (Fm, zun, Fm) x 3 (12)<br>
			Rnd 5: 12 Fm (12)<br>
			Rnd 6: (3 Fm, zun) x 3 (15)<br>
			Rnd 7 - 8: 15 Fm (15)<br>
			Rnd 9: (3 Fm, abn) x 3 (12)<br>
			Rnd 10: (Fm, abn, Fm) x 3 (9)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 10 und beende die Häkelarbeit. Lasse dabei einen langen Faden für das spätere Vernähen übrig. Stopfe die Hörner mit Füllwatte und nähe sie direkt unter den Hörnern zwischen den Reihen 7 und 11 auf den Kopf.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Rechtes Bein</h3>
			<div class="h-5"></div>
			<p>Beginne in der Farbe Pastell Schlamm.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: 6 zun (12)<br>
			Rnd 3: (Fm, zun) x 6 (18)<br>
			Rnd 4: (Fm, zun, Fm) x 6 (24)<br>
			Rnd 5 - 8: 24 Fm (24)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 8 und beende die Häkelarbeit. Arbeite den Rest des Beins in der Farbe Naturweiß. Steche ungefähr auf der gegenüberliegenden Seite von dem Ende der Arbeit ein und arbeite weiter wie folgt:</p>
			<div class="h-5"></div>
			Rnd 9 - 14: 24 Fm (24)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 14 und beende die Häkelarbeit.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Linkes Bein</h3>
			<div class="h-5"></div>
			<p>Beginne in der Farbe Pastell Schlamm.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: 6 zun (12)<br>
			Rnd 3: (Fm, zun) x 6 (18)<br>
			Rnd 4: (Fm, zun, Fm) x 6 (24)<br>
			Rnd 5 - 8: 24 Fm (24)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 8 und beende die Häkelarbeit. Arbeite den Rest des Beins in der Farbe Naturweiß. Die markierten Maschen werden in der Farbe Maigrün gearbeitet.  Steche ungefähr auf der gegenüberliegenden Seite von dem Ende der Arbeit ein und arbeite weiter wie folgt:</p>
			<div class="h-5"></div>
			Rnd 9 - 12: 24 Fm (24)<br>
			Rnd 13: 9 Fm, <span style="color: limegreen;">5 Fm</span>, 10 Fm (24)<br>
			Rnd 14: 9 Fm, <span style="color: limegreen;">6 Fm</span>, 9 Fm (24)<br>
			<div class="h-5"></div>
			<p>Beende die Häkelarbeit NICHT! Arbeite direkt am Körper weiter.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Körper</h3>
			<div class="h-5"></div>
			<p>Du solltest am Ende des linken Beins aufgehört haben. Beende die Häkelarbeit NICHT! Jetzt werden wir die Beine verbinden und den Körper direkt anhäkeln. Arbeite mit dem naturweißen Faden weiter, der ohnehin schon an deiner Arbeit hängt. Die markierten Maschen werden in der Farbe Maigrün gearbeitet.</p>
			<div class="h-5"></div>
			Rnd 1: Beginne damit, in irgendeine Masche des rechten Beins zu abreiten. Fm bis zum Ende der Runde des rechten Beins (24 Fm). Setze die Arbeit nun im linken Bein fort: 10 Fm, <span style="color: limegreen;">5 Fm</span>, 9 Fm (48)<br>
			<div class="h-5"></div>
			<p>Schließe das kleine Loch zwischen den Beinen mit einem kurzen Faden übrig gebliebenen Fadens. Dieser Schritt ist optional, wird aber sehr empfohlen.</p>
			<div class="h-5"></div>
			Rnd 2: 33 Fm, <span style="color: limegreen;">6 Fm</span>, 9 Fm (48)<br>
			Rnd 3: 32 Fm, <span style="color: limegreen;">6 Fm</span>, 10 Fm (48)<br>
			Rnd 4: 15 Fm, <span style="color: limegreen;">2 Fm</span>, 14 Fm, <span style="color: limegreen;">6 Fm</span>, 11 Fm (48)<br>
			Rnd 5: 14 Fm, <span style="color: limegreen;">4 Fm</span>, 12 Fm, <span style="color: limegreen;">6 Fm</span>, 12 Fm (48)<br>
			Rnd 6: 14 Fm,<span style="color: limegreen;"> 4 Fm</span>, 12 Fm, <span style="color: limegreen;">6 Fm</span>, 12 Fm (48)<br>
			Rnd 7: 14 Fm, <span style="color: limegreen;">4 Fm</span>, 11 Fm, <span style="color: limegreen;">8 Fm</span>, 11 Fm (48)<br>
			Rnd 8: 14 Fm, <span style="color: limegreen;">6 Fm</span>, 9 Fm, <span style="color: limegreen;">6 Fm</span>, 13 Fm (48)<br>
			Rnd 9: 15 Fm, <span style="color: limegreen;">5 Fm</span>, 10 Fm, <span style="color: limegreen;">4 Fm</span>, 14 Fm (48)<br>
			Rnd 10: 16 Fm, <span style="color: limegreen;">5 Fm</span>, 27 Fm (48)<br>
			Rnd 11: 17 Fm, <span style="color: limegreen;">3 Fm</span>, 28 Fm (48)<br>
			Rnd 12: (3 Fm, abn, 3 Fm) x 6 (42)<br>
			Rnd 13: (5 Fm, abn) x 6 (36)<br>
			Rnd 14: (2 Fm, abn, 2 Fm) x 6 (30)<br>
			Rnd 15: (3 Fm, abn) x 6 (24)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 15 und beende die Häkelarbeit. Stopfe den Körper mit Füllwatte und nähe ihn an den Kopf.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Arme</h3>
			<div class="h-5"></div>
			<p>Arbeite zwei Arme.</p>
			<div class="h-5"></div>
			<p>Beginne in der Farbe Pastell Schlamm.</p>
			<div class="h-5"></div>
			Rnd 1: 6 Fm in MR (6)<br>
			Rnd 2: 6 zun (12)<br>
			Rnd 3: (Fm, zun) x 6 (18)<br>
			Rnd 4 - 6: 18 Fm (18)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 6 und beende die Häkelarbeit. Arbeite den Rest des Beins in der Farbe Naturweiß. Steche ungefähr auf der gegenüberliegenden Seite von dem Ende der Arbeit ein und arbeite weiter wie folgt:</p>
			<div class="h-5"></div>
			Rnd 7 - 15: 18 Fm (18)<br>
			Rnd 16: (Fm, abn) x 6 (12)<br>
			<div class="h-5"></div>
			<p>Arbeite eine Km in die erste Masche von Runde 16. Stopfe den Arm mit Füllwatte. Falte die Arbeit danach so, dass die erste und letzte (zweite und vorletzte/ dritte und vor-vorletzte / ...) Masche aufeinander liegen. Arbeite nun 6 Fm entlang der Kante um den Arm zu verschließen. Beende die Häkelarbeit und lasse dabei einen langen Faden für das spätere Vernähen übrig. Nähe die Arme auf der Höhe von Reihe 15 an den Körper.</p>
		</div>
		<div class="h-5"></div>
		<div class="rounded-2xl shadow-xl p-5">
			<h3 class="text-xl">Schwanz</h3>
			<div class="h-5"></div>
			<p>Arbeite 8 dLm in der Farbe Naturweiß. Beende die Häkelarbeit. Schneide fünf etwa 5 cm lange Fandenstücke in der Farbe Pastell Schlamm ab und knote sie um die letze Masche der Luftmaschenkette. Befestige den Schwanz zwischen den Reihen 5 und 6 am Körper.</p>			
		</div>
	</div>
</Layout>
